@attribute [Route("/" + Portfolio.Web.Routing.WebRoutes.AboutMe)]
@using Portfolio.Common.Helpers

<h3>Who am I?</h3>
<p>
    I am a full-stack .NET developer who, while I'm not necessarily "passionate" about software development, I am driven, I have my goals and I get the job done.
    I have @DateHelper.GetYearsBetween(DateTime.Parse("2014-06-02"), DateTime.Today) years experience with professional software development, touching the advertisement industry, banking, VR-gaming and government agencies.
    Before that I was active in a lot of student activities. Today however I'm deeply involved in piloting glider aircraft.
    I spend my summers on Vängsö Airfield, where I teach ground operations, materials handling and airport safety to aspiring glider pilots. During winter I schedule people for maintenance on a specific aircraft.
</p>
<h3>Full-stack .NET developer</h3>
<p>

</p>
<h3></h3>
<p>

</p>

@code {

}
