version: '3.4'

services:
  portfolio.frontoffice:
    container_name: portfolio.frontoffice
    image: ${DOCKER_REGISTRY-}portfoliofrontoffice
    build:
      context: .
      dockerfile: Portfolio.FrontOffice/Dockerfile
    depends_on:
      - portfolio.database

  portfolio.database:
    container_name: portfolio.database
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - /var/lib/postgresql/data
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "adminadmin"
      POSTGRES_DB: "Portfolio"