@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Dekamik/Portfolio" target="_blank" class="ml-md-auto">Check out this website on GitHub!</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
