@attribute [Route("/" + WebRoutes.Projects)]
@using Portfolio.BusinessLogic.Projects
@inject Portfolio.BusinessLogic.Projects.IProjectService Service

<Spinner IsLoading=@isLoading>
    @foreach (var project in projectModels)
    {
        @if (project.Show)
        {
            <div class="row">
                <div class="mx-auto">
                    <div class="col-12">
                        <ProjectCard ProjectModel=@project />
                    </div>
                </div>
            </div>
        }
    }
</Spinner>

@code {
    private bool isLoading = true;    

    private IEnumerable<ProjectModel> projectModels;

    protected override void OnInitialized()
    {
        projectModels = Service.GetProjects();
        isLoading = false;
    }
}
