@attribute [Route("/" + Portfolio.FrontOffice.Web.Routing.WebRoutes.AboutMe)]

<h3 class="standard-margin">Who am I?</h3>
<p>
    Dennis is a full-stack .NET developer who, while not necessarily "passionate" about software development, is driven, has goals and gets the job done.
    He has @DateHelper.GetYearsBetween(DateTime.Parse("2014-06-02"), DateTime.Today) years experience with professional software development. He has worked with advertisement, banking, VR-gaming and government agencies.
    <br /><br />When Dennis isn't working, he's busy piloting powerless aircraft above the lakes and woods of Södermanland.
    He spends his summers on Vängsö Airfield, where he teaches ground operations, materials handling and airport safety to aspiring glider pilots. During winter he schedules people for maintenance on a specific aircraft.
</p>
<h3>Full-stack .NET developer</h3>
<p>

</p>
<h3></h3>
<p>

</p>

@code {

}
