@page "/"

<h1 class="home-text text-center">Full-stack developer</h1>
<h1 class="home-text text-center">Consultant</h1>
<h1 class="home-text text-center">Pilot</h1>
<br />
<img src="./images/profile.jpg" class="border border-5 rounded-circle mx-auto d-block img-fluid" alt="Profile" />
