@page "/"

<h1 class="home-text text-center standard-margin">Full-stack developer</h1>
<h1 class="home-text text-center">Consultant</h1>
<h1 class="home-text text-center">Pilot</h1>
<br />
<img src="./images/profile.jpg" class="border border-5 rounded-circle mx-auto d-block img-fluid" alt="Profile" />
<br />
<div class="text-center">
    <a href="https://github.com/Dekamik"><img src="./images/GitHub-Mark-120px-plus.png" class="social-media-icon" /></a>
    &nbsp;
    <a href="https://www.linkedin.com/in/dennisvonbargen/"><img src="./images/LI-In-Bug.png" class="social-media-icon" /></a>
</div>
<br />
<br />
