@attribute [Route("/" + WebRoutes.Contact)]

<div class="text-center standard-margin">
    <br />
    <a href="https://www.linkedin.com/in/dennisvonbargen/" target="_blank"><img src="./images/LI-Logo.png" class="linkedin" /></a>
    <br />
    <br />
    <p>
        This portfolio is a complete web app, built with Blazor Server, .NET Core, EF Core, Postgres and Docker. Click the icon below to see its source code.
    </p>
    <br />
    <a href="https://github.com/Dekamik/Portfolio" target="_blank"><img src="./images/GitHub-Mark-120px-plus.png" /></a>
</div>