@page "/"

<h1 class="home-text text-center standard-margin">Dennis von Bargen</h1>
<h1 class="home-text text-center">IT-Consultant</h1>
<br />
<img src="./images/profile.jpg" class="border rounded-circle mx-auto d-block img-fluid" alt="Profile" />
<br />
<div class="text-center">
    <a href="https://github.com/Dekamik" target="_blank"><img src="./images/GitHub-Mark-120px-plus.png" class="social-media-icon" /></a>
    &nbsp;
    <a href="https://www.linkedin.com/in/dennisvonbargen/" target="_blank"><img src="./images/LI-In-Bug.png" class="social-media-icon" /></a>
</div>
<br />
<br />
